@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Cinzel:wght@400;500&family=DM+Sans&family=Lugrasimo&family=Lumanosimo&family=Manrope:wght@300&family=Montserrat:ital@1&family=Orbitron&family=Oswald:wght@300&display=swap');

body{
font-size: 18px;
font-family: 'Bree Serif', serif;
font-family: 'Cinzel', serif;
font-family: 'DM Sans', sans-serif;
background-color: rgb(204, 200, 200);
}

main{
  max-width: 800px;
  min-width: 320px;
}
h1, h2{
  color: rgb(12, 12, 92);
}

footer{
  text-align: center;
  background-color: rgb(35, 8, 88);
  border-radius: 20px;
  color: white;
}
div{
  display: flex;
  
}
div > p{
  text-align: center;
}

header > a {
  text-decoration: none;
  transition-duration: 1s;
}

header > a:hover{
  background-color: black;
  color: white;
}

